{% extends "layout.html" %}

{% block content %}
<center>
    <h1 id="f">Capybara</h1>
</center>

<nav>
    <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/cap">capibaras</a></li>
        <li><a href="/gat">gatos</a></li>
        <li><a href="/orn">ornitorincos</a></li>
        <li><a href="/contacto">contacto</a></li>
    </ul>
</nav>

    <section class="main2" >
    
    <section class="articles">
                <article>
                    <h2>¿que es un capybara?</h2>
                    <br>
                    <p>El capibara, chigüire o carpincho (Hydrochoerus hydrochaeris)nota <br>
                        ​ es una especie de roedor de la familia de los cávidos, nativa de Sudamérica. Es el roedor <br>
                        viviente de mayor tamaño y peso del mundo.2​ El otro miembro existente de ese género es el capibara <br>
                        menor (Hydrochoerus isthmius). Sus parientes cercanos incluyen a los conejillos de indias y los mocós, <br>
                         y está relacionado más lejanamente con el agutí, la chinchilla y el coipo. Habita humedales y bosques <br>
                          densos y vive cerca de cuerpos de agua. Es una especie muy social y se puede encontrar en grupos de <br>
                          hasta cien individuos, pero por lo general vive en grupos de diez a veinte individuos.<br>
                         El animal es cazado por su carne, piel (para indumentaria) y por la grasa contenida en su piel.<br>
                 </p>
                 <img src="/static/img/cap.jpg" width="300">      <img src="/static/img/cap2.jpeg" width="300">      
                 </article>
        </section>  
        </section>
{% endblock %}