{% extends "layout.html" %}

{% block content %}
<center>
    <h1 id="f">ornitorincos</h1>
</center>

    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="/cap">capibaras</a></li>
            <li><a href="/gat">gatos</a></li>
            <li><a href="/orn">ornitorincos</a></li>
            <li><a href="/contacto">contacto</a></li>
        </ul>
    </nav>

    <section class="main" >
    
    <section class="articles">
                <article>
                    <h2>¿que es un ornitorinco?</h2>
                    <br>
                    <p>El ornitorrinco (Ornithorhynchus anatinus) es una <br>
                    especie de mamífero semiacuático endémico del este de Australia y de la isla de <br>
                    Tasmania. Es una de las cinco especies, junto con las cuatro de equidna, que perviven en la <br>
                    actualidad del orden de los monotremas, grupo que reúne a los únicos mamíferos actuales que <br>
                    ponen huevos en lugar de dar a luz crías vivas. Es el único representante vivo de la familia <br>
                    Ornithorhynchidae y del género Ornithorhynchus.
                 </p>
                 <img src="/static/img/agente-p.jpg" width="300">      <img src="/static/img/mg1.jpg" width="300">      
                 </article>
        </section>  
        </section> 


        {% endblock %}